/* ----- */
/* Breakpoints */
/* ----- */

// Defined breakpoints (1st option)
$breakpoints: (
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
) !default;

// Defined breakpoints (2nd option)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Mixin to manage responsive breakpoints (1st option)
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    // @media (min-width: map-get($breakpoints, $breakpoint)) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Mixin to manage responsive breakpoints (2nd option)
@mixin breakpoint($point) {
  @if $point == $xxl {
    @media (min-width: $xxl) {
      @content;
    }
  } @else if $point == $xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $point == $lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $point == $md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $point == $sm {
    @media (min-width: $sm) {
      @content;
    }
  }
}
