/* ----- */
/* Colors */
/* ----- */

// Text and background colors
$color-1: rgba(12, 14, 24, 1);
$color-2: rgba(249, 248, 210, 0.801);
$color-3: rgba(255, 255, 255, 1);
$color-4: #c75161;

$color-body-bg: $color-1;
$color-text: $color-3;

// Links
$color-link: $color-2;
$color-link--hover: $color-4;

// Borders
$color-border: $color-2;
$color-border--hover: $color-4;
