/* ----- */
/* Forms */
/* ----- */

$input-border: 1px solid $color-1;
$input-font-size: $font-size;
$placeholder-font-size: $font-size-sm;
$input-height: 3rem;
$input-padding: $gap-half $gap;

$input-border-blue: 1px solid $color-2;
$input-search-padding: $gap-half $gap $gap-half $gap-double;

$form-item-description-margin-top: $gap-quarter;
$form-item-label-padding: $gap-half 0;
$form-item-margin-bottom: $gap;
$form-item-max-width: 32rem;
$form-item-height: 3.75rem;
