// * Small devices (landscape phones, 576px and up)
$bp-sm: 576px;
// @media (min-width: $bp-sm) { ... }

// * Medium devices (tablets, 768px and up)
$bp-md: 768px;
// @media (min-width: $bp-md) { ... }

// * Large devices (desktops, 992px and up)
$bp-lg: 992px;
// @media (min-width: $bp-lg) { ... }

// * X-Large devices (large desktops, 1200px and up)
$bp-xl: 1200px;
// @media (min-width: $bp-xl) { ... }

// * XX-Large devices (larger desktops, 1400px and up)
$bp-xxl: 1400px;
// @media (min-width: $bp-xxl) { ... }
