/* ----- */
/* Typography */
/* ----- */

// Font weights
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

// Font sizes
$font-size: 1.6rem; // 16px
$font-size-xxl: 4.8rem; // 48px
$font-size-xl: 3.2rem; // 32px
$font-size-lg: 2.4rem; // 24px
$font-size-md: 1.8rem; // 18px
$font-size-sm: 1.2rem; // 12px

// Font families
$font-family: 'Zen Kaku Gothic Antique', sans-serif; // 'Nunito', sans-serif;
$font-family-alt: 'Helsinki', sans-serif;

// Line heights
$line-height: 1.5; // = 150% / 24px
$line-height-xl: 2;
$line-height-xxl: 2.5;
$line-height-sm: 1.1;

// Letter spacings
$letter-spacing-1: 4.75px;
$letter-spacing-2: 2.7px;
$letter-spacing-3: 2.35px;

// Margins
$heading-margin-default: 0 0 $gap-half;
$paragraph-margin-bottom: $gap;

// Other (https://web.dev/learn/css/typography/)
$writing-mode: vertical-lr;
$text-orientation: upright;
$text-shadow: 1px 1px 2px $color-4, 1px -1px 2px $color-3, -1px 1px 2px $color-2,
  -1px -1px 2px $color-1, 0 0 16px $color-1, 0 0 64px $color-1;
