/* ----- */
/* Reset (https://piccalil.li/blog/a-modern-css-reset/) */
/* ----- */

// Box sizing
*,
*::after,
*::before {
  box-sizing: border-box;
}

// Reset margins
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// Set up the font-size to 1rem = 10px and smooth scroll behavior
html {
  font-size: 62.5%; // 1rem = 10px

  &:focus-within {
    scroll-behavior: smooth;
  }
}

// Set up the body
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: $line-height;
}

// Remove default list style for lists
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Make images easier to work with
img,
picture {
  display: block;
  max-width: 100%;
}

// Make form elements easier to work with
input,
button,
textarea,
select {
  font: inherit; // Alternative: font-family: inherit;
  // font-size: 100%;
  width: 150px;
}

// Remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
