/* ----- */
/* About page specific styling */
/* ----- */

// .about {}

.jobs {
  @include grid;

  &__job {
    @include card;
    background-color: transparent;

    h4 {
      padding: 0;
    }

    .jobs__job--details {
      font-size: $font-size-sm;
      margin: $gap 0;
    }

    p {
      color: $color-4;
    }
  }
}
