/* ----- */
/* Contact page specific styling */
/* ----- */

.contact {
  @include center-element;
  @include card;

  .section__title {
    text-align: center;
  }

  &__list {
    @include flex;
    flex-direction: column;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }
}
