/* ----- */
/* Projects specific styling */
/* ----- */

.projects {
  &__items {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: $section-padding;
  }

  &__item {
    @include card;
    position: relative;
    overflow: hidden;
    min-height: 200px;

    // Setting the stage for when we hover over the item
    &::after {
      background-color: $color-1;
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      opacity: 0;
      width: 100%;
      @include transition-ease;
    }

    // When we hover over the item
    &:hover {
      p,
      img {
        display: none;
      }

      // &::after {
      //   top: 0;
      //   opacity: 1;
      //   z-index: 1;
      // }

      // For buttons to show up
      .projects__btn {
        opacity: 1;
      }
    }
  }

  h4 {
    padding: 0;
    font-size: $font-size-sm;
    font-family: $font-family;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
  }

  &__btns {
    @include flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 1;
    width: 100%;
    // z-index: 1;
  }

  &__btn {
    opacity: 0; // Initially invisible
    @include transition-ease;

    &:hover {
      color: $color-link--hover;
    }
  }
}
