fieldset {
  position: relative;
}

legend {
  position: absolute;
  bottom: 0;
  right: 0;
}

input {
  min-width: 320px;
  padding: 0.5rem 1rem;
  line-height: 1;
  font: inherit;
  border: 1px solid var(--color-mid);
  border-radius: 0.25rem;

  &[type="search"] {
    -webkit-appearance: none;
    appearance: none;

    // Hide "x" delete icon when the input loses focus in Safari
    // &::-webkit-search-cancel-button { 
    //   display: none; 
    // }
  }

  &[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    &::before {
      content: "✔";
      position: absolute;
      font-size: 1.2em;
      right: -1px;
      top: -0.3em;
      visibility: hidden;
    }

    &:checked::before {
      // Use `visibility` instead of `display` to avoid recalculating layout
      visibility: visible;
    }

    &:disabled {
      border-color: black;
      background: #ddd;
      color: gray;
    }
  }

  &[type="radio"] {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    // Adjusts the position of the checkboxes on the text baseline
    vertical-align: -2px;
    outline: none;

    &::before {
      display: block;
      content: " ";
      width: 10px;
      height: 10px;
      border-radius: 6px;
      background-color: red;
      font-size: 1.2em;
      transform: translate(3px, 3px) scale(0);
      transform-origin: center;
      transition: all 0.3s ease-in;
    }

    &:checked::before {
      transform: translate(3px, 3px) scale(1);
      transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
    }
  }

  &[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    background: red;
    height: 2px;
    padding: 0;
    outline: 1px solid transparent;
  }

  &[type="color"] {
    border: 0;
    padding: 0;
  }

  &[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
  }

  // ​&:valid {
  //   border-color: green;
  // }

  &:invalid {
    border-color: red;
  }

  &::placeholder {
    color: darkcyan;
  }
}

label[for="file"] {
  box-shadow: 1px 1px 3px #ccc;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;

  &:hover {
    background: linear-gradient(to bottom, #fff, #ddd);
  }

  &:active {
    box-shadow: inset 1px 1px 3px #ccc;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
}
// We put an extra wrapper around the control, because ::before/::after don't work on <select> elements 
.select-wrapper {
  position: relative;

  &::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
  }
}