input {
  min-width: 320px;
  padding: 0.5rem 1rem;
  line-height: 1;
  font: inherit;
  border: 1px solid var(--color-mid);
  border-radius: 0.25rem;

  // ​&:valid {
  //   border-color: green;
  // }

  &:invalid {
    border-color: red;
  }

  &::placeholder {
    color: darkcyan;
  }
}
