/* ----- */
/* Body, main and page */
/* ----- */

body {
  background-color: $color-body-bg;
  position: relative;
}

main {
  padding-bottom: $main-content-top-padding !important;
  padding-top: $main-content-top-padding !important;

  .page__title {
    background-color: transparent;
    text-align: center;
  }
}
