/* ----- */
/* Keyframes */
/* ----- */

/*
  (https://web.dev/learn/css/animations/)
  All animation properties:
    - animation-name
    - animation-duration
    - animation-timing-function
    - animation-delay
    - animation-iteration-count
    - animation-direction
    - animation-fill-mode
    - animation-play-state
  Shorthand: animation: my-animation 10s ease-in-out 1s infinite forwards forwards running;
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.8);
    background: darkturquoise;
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
  }
}
