::marker {
  color: hotpink;
  // content: '\2212'' '; /* Minus symbol with space */
  content: '~';
}

ul,
ol {
  &::marker {
    font-size: 1.5rem;
  }
}

/*
h1 {
  display: list-item;
  margin-left: 3rem;

  &::marker {
    content: "🥕";
  }
}
*/
