/* ----- */
/* Lists */
/* ----- */

ul,
ol {
  margin-top: 0;
  margin-bottom: $gap-double;
  padding-left: $gap-double;

  li {
    &::marker {
      color: $color-4;
      // content: '👉 ';
      // content: counter(list-item) '› ';
      content: '› ';
      font-size: 1.5rem;
      padding-left: $gap-double;
    }
  }
}

nav ul {
  list-style: none;
}
