/*
  * Lists (https://web.dev/learn/css/lists/)
    There are three list-style properties you can use to style your example: list-style-position, list-style-image, and list-style-type.
      - list-style-position: inside/outside;
      - list-style-image: url(image.png); // linear-gradient(to left bottom, pink, teal); 
      - list-style-type: "🛒"; // "space-counter" / disc / circle / "\1F44D" -- thumbs up sign (https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type)
      * Shorthand: list-style: <'list-style-type'> || <'list-style-position'> || <'list-style-image'>
*/

::marker {
  color: hotpink;
  // content: '\2212'' '; /* Minus symbol with space */
  content: '~';
}

ul,
ol {
  &::marker {
    font-size: 1.5rem;
  }
}

// h1 {
//   display: list-item;
//   margin-left: 3rem;

//   &::marker {
//     content: "🥕";
//   }
// }
