/* ----- */
/* Text */
/* ----- */

body {
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  // font-variant-numeric: slashed-zero;
  // font-variant-caps: small-caps;
  // text-align: justify;
  // text-decoration-color: $color-3;
  // text-decoration-style: dashed;
  // text-decoration-thickness: 0.2em;
  // overflow-wrap: break-word;
  word-wrap: break-word;
  // writing-mode: vertical-lr;
}

span {
  font-style: inherit;
}

label {
  font-weight: $font-weight-bold;
}

p {
  color: $color-text;
  // max-width: 45ch;
  overflow: hidden;
  text-overflow: ellipsis;
  // text-indent: 2em;
  word-spacing: normal; // = 0

  // &::first-line {}
  // &:first-child {}
  // &:last-child {}
  // &:nth-child(even) {}
  // &:nth-of-type(2)::selection {}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-2;
  font-family: $font-family-alt;
  // font-weight: $font-weight-thin;
  letter-spacing: $letter-spacing-1;
  padding: $gap-double 0;
}

h1 {
  background: $color-4;
  border: $border-default;
  font-size: $font-size-xl;
  padding: $gap-double 0;
  // text-shadow: $text-shadow;
  // text-transform: lowercase;
  // text-decoration: underline; // overline
  // text-underline-offset: $gap;
  // text-decoration-color: $color-2;

  // &::first-letter {}

  @include breakpoint(md) {
    font-size: $font-size-xl;
  }

  @include breakpoint(lg) {
    font-size: $font-size-xxl;
  }
}

h2 {
  font-size: $font-size-md;

  @include breakpoint(md) {
    font-size: $font-size-lg;
  }

  @include breakpoint(lg) {
    font-size: $font-size-xl;
  }
}

h3 {
  font-size: $font-size;

  @include breakpoint(md) {
    font-size: $font-size-md;
  }

  @include breakpoint(lg) {
    font-size: $font-size-lg;
  }
}

h4 {
  font-size: $font-size;

  @include breakpoint(md) {
    font-size: $font-size;
  }

  @include breakpoint(lg) {
    font-size: $font-size-md;
  }
}

// Headings
@mixin heading-1(
  $font-family: $font-family-alt,
  $font-size: $font-size-lg,
  $line-height: $line-height,
  $color: $color-2,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: $font-weight-thin,
  $margin: $heading-margin-default
) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$h1-font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  @include breakpoint($md) {
    font-size: $font-size-xl;
  }

  @include breakpoint($lg) {
    font-size: $font-size-xxl;
  }

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-2(
  $font-family: $font-family-alt,
  $font-size: $font-size-md,
  $line-height: $line-height,
  $color: $color-2,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: $font-weight-thin,
  $margin: $heading-margin-default
) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$h1-font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  @include breakpoint($md) {
    font-size: $font-size-lg;
  }

  @include breakpoint($lg) {
    font-size: $font-size-xl;
  }

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-3(
  $font-family: $font-family-alt,
  $font-size: $font-size,
  $line-height: $line-height,
  $color: $color-2,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: $font-weight-thin,
  $margin: $heading-margin-default
) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$h1-font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  @include breakpoint($md) {
    font-size: $font-size-md;
  }

  @include breakpoint($lg) {
    font-size: $font-size-lg;
  }

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}
