/* ----- */
/* Hamburger */
/* ----- */

.menu-btn {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: $gap-double;
  top: $gap-double;
  z-index: 1001;
  width: 28px;
  @include transition-ease;

  @include breakpoint(lg) {
    display: none;
  }

  // Middle line of hamburger icon
  &__burger {
    background: $color-2;
    height: 3px;
    position: absolute;
    right: 0;
    top: $gap-half;
    width: 28px;
    @include transition-ease;

    // Top line of hamburger icon
    &::before {
      background: $color-2;
      content: '';
      height: 3px;
      position: absolute;
      top: -8px;
      width: 28px;
      @include transition-ease;
    }

    // Bottom line of hamburger icon
    &::after {
      background: $color-2;
      content: '';
      height: 3px;
      top: 8px;
      position: absolute;
      width: 28px;
      @include transition-ease;
    }

    // We add these classes with JS
    &.open {
      // Adding rotation to two lines of hamburger icon and hiding third/middle line of hamburger icon
      background: transparent;
      transform: rotate(720deg);

      &::before {
        // Changing top line of hamburger icon to get to X icon
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        // Changing bottom line of hamburger icon to get to X icon
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

/* ----- */
/* Navigation */
/* ----- */

.nav {
  left: 0;
  opacity: 0.99;
  position: fixed;
  top: -$gap-double; // Needed fix (#1)
  visibility: hidden; // Initially hidden on mobile and tablet
  width: 100vw;
  z-index: 1000;

  @include breakpoint(lg) {
    visibility: visible; // Initially visible on desktop
    margin-bottom: 0;
    padding: 0 $gap;
  }

  &.open {
    visibility: visible; // Visible on mobile and tablet by click on hamburger icon
  }

  .menu-nav {
    align-items: center;
    background: $color-1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin-top: $gap-double; // Needed fix (#2)
    transform: translateY(-100%); // So that menu comes from top ...
    @include transition-ease;

    @include breakpoint(lg) {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
    }

    &.open {
      transform: translateY(0); // ... to initial position
    }

    &__item {
      transform: translateX(100vw); // So that menu items come from right ...
      @include transition-ease;

      @include breakpoint(lg) {
        display: inline;
        padding-right: 1.5rem;
      }

      &.open {
        transform: translateX(0); // ... to initial position
      }

      &.active > a {
        color: $color-4;
      }
    }

    &__link {
      display: inline-block;
      font-weight: $font-weight-bold;
      padding: $gap-double 0;
      text-transform: uppercase;
      @include transition-ease;

      &:hover {
        color: $color-link--hover;
      }
    }
  }
}

@for $i from 1 through 4 {
  // 4 because there are 4 links
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
